* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}

.choices {
  width: fit-content;
  margin: 0 auto;
  display: flex;

  display: block;
  gap: 20px;

  button {
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
}
#restart {
  display: none;
}
#start {
  display: none;
}
